pre {
  background: #636363;
  border: 1px solid #e7e7e7;
  border-left: 3px solid #252525;
  color: #666;
  page-break-inside: avoid;
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word
}

code {
  background-color: #636363;
  padding-left: 4px;
  padding-right: 4px;
  font-family: monospace
}

html,
body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  background-color: #353535;
  color: #e7e7e7;
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  margin: 10px 0
}

a {
  color: inherit
}

hr {
  border: 0px;
  border-top: 1px solid #e7e7e7;
  margin: 20px 0;
}

.hidden {
  display: none;
}

.glow-text {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.glow-text .glow-text-img {
  max-width: 100%;
  height: auto;
  padding-bottom: env(safe-area-inset-bottom);
}

.glow-discord {
  width: 366px !important;
}

.glow-pfp {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.glow-pfp-container {
  width: 128px !important;
}

.glow-row:before,
.glow-row:after {
  content: "";
  display: table;
  clear: both
}

.glow-row .glow-row-right {
  float: right !important;
  padding: 10px;
}

.glow-row .glow-row-rest {
  overflow: hidden;
  padding: 10px;
}

.glow-bar {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  background-color: #252525 !important;
  font-size: 18px !important;

  border: 1px solid #252525 !important;
  border-color: #252525 !important;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

.glow-bar a {
  padding: 8px 16px;
  float: left;
  display: block;
  text-align: center;
  cursor: pointer;

  white-space: normal;
  overflow: hidden;

  /* border-bottom: 6px solid #252525; */
  text-decoration: none;
}

.glow-bar a:hover {
  border-bottom: 6px solid #000000;
}

.glow-bar .icon {
  display: none;
}

.glow-footer {
  background-color: #252525;
  padding: .5rem;
  height: 2rem;
}

.glow-footer>p {
  margin: 0;
  padding: 0;
}

.glow-header {
  background-color: #252525 !important;
}

.glow-header-title {
  text-align: center !important;
  font-size: 64px !important;
}

.glow-header-subtitle {
  text-align: center !important;
  font-size: 24px !important;
}

.glow-a-nodecoration li a {
  text-decoration: none !important;
}

.glow-ul {
  padding: 0 0 0 20px;
  margin: 0px;
  list-style-type: square;
}

.glow-ul:first-child {
  padding: 0 0 0 0;
  margin: 0px;
}

.glow-ul li {
  padding: 0px !important;
  border-bottom: 1px solid #e7e7e7;
}

.glow-ul li:last-child {
  padding: 0px !important;
  border-bottom: none;
}

.glow-ul a:hover {
  background-color: #4b4b4b
}

.glow-ul li a {
  padding: 8px 16px;
  width: calc(100% - 32px);
  display: block;
}

.glow-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.glow-tr {
  border-color: #616161 !important;
  border-bottom: 1px solid #ddd;
}

.glow-td {
  padding-left: 16px;
  padding: 8px 8px;
  background-color: #000 !important;
}

code {
  color: white;
}

img {
  max-width: 100%;
}

.glow-field {
  background-color: #55555555;
  padding: 1rem;
  border-radius: 16px;
}


@media screen and (max-width: 800px) {
  .glow-text {
    margin: auto;
    width: 70%;
    padding: 10px;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .glow-discord {
    width: 100% !important;
  }

  .glow-pfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .glow-pfp-container {
    width: 100% !important;
  }

  .glow-bar a:not(:first-child) {
    display: none;
  }

  .glow-bar a.icon {
    float: right;
    display: block;
  }

  .glow-bar.responsive .icon {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .glow-bar.responsive a {
    padding: 8px 16px;
    float: none;
    display: block;
    text-align: left;
    cursor: pointer;

    white-space: normal;
    overflow: hidden;

    border-bottom: 6px solid #252525;
    text-decoration: none;
  }

  .glow-bar a:hover {
    border-bottom: 6px solid #252525;
  }
}

@media screen and (max-width: 600px) {
  .glow-text {
    margin: auto;
    width: 90%;
    padding: 10px;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.glow-content {
  min-height: calc(100vh - 3rem);
}

.glow-textarea {
  width: 100%;
  resize: none;
}

.glow-button {
  background-color: #1f1f1f;
  margin-top: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.glow-fancy-input {
  border: none;
  border-radius: 7px;
  width: 100%;

  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
}

.glow-fancy-button {
  border: none;
  border-radius: 7px;
  padding: .5rem;
  margin-top: 1rem;
  background-color: gray;
}


.glow-input {
  width: 90%;
}

.glow-section {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.glow-center {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.glow-spinner {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}